In [1]:
lst = ["Ali", "Mohsin", "Humza","Shehzad"]

In [2]:
print(lst[-1][-1])

d

In [3]:
num = [1,2,3,4,5]

In [10]:
n =[]
for i in num:
    u = i * 2
    n.append(u)
print(n)

[2, 4, 6, 8, 10]

In [14]:
m = []
for i in num:
    m.append(i*2)
print(m)

[2, 4, 6, 8, 10]

In [18]:
#list compherension
lst = ['expression','iterable','condition']     #expression = a , iterable = for (expresn), condition = num

In [19]:
lst = [a*2 for a in num]

In [20]:
num

[1, 2, 3, 4, 5]

In [28]:
var = [i**2 for i in range(1,11)]
var

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [36]:
n = []
for i in range(1,11):
    u = i**2
    n.append(u)
print(n)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [37]:
#Test  make a dic put key words and generate the values of dic via list compherension

In [52]:
dic = {'name': 'Nehal', 'Age':'26', 'cnic':'1234'}

In [55]:
list =[i for i in dic.values()]
list

['Nehal', '26', '1234']

In [94]:
lst = []
for a in range(20):
    if a%2 ==0:
        lst.append(a)
lst

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [80]:
lst = [x for x in range(20) if x% 2 == 0]
lst

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [84]:
lst = []
for a in range(1,5):
    for b in range(1,3):
        lst.append((a,b))
lst

[(1, 1), (1, 2), (2, 1), (2, 2), (3, 1), (3, 2), (4, 1), (4, 2)]

In [85]:
lst = [(a,b) for a in range(1,5) for b in range(1,3)]
lst

[(1, 1), (1, 2), (2, 1), (2, 2), (3, 1), (3, 2), (4, 1), (4, 2)]

In [95]:
list = []
alpha = ['a','b']
for a in range(1,5):
    for b in alpha:
        list.append((a,b))
list

[(1, 'a'),
 (1, 'b'),
 (2, 'a'),
 (2, 'b'),
 (3, 'a'),
 (3, 'b'),
 (4, 'a'),
 (4, 'b')]

In [100]:
alpha = ['a','b']
list = [(a,b) for a in range(1,5) for b in alpha]
list

[(1, 'a'),
 (1, 'b'),
 (2, 'a'),
 (2, 'b'),
 (3, 'a'),
 (3, 'b'),
 (4, 'a'),
 (4, 'b')]

In [112]:
list = [print((a,b),'Hello') for a in range(1,5) for b in alpha]

(1, 'a') Hello
(1, 'b') Hello
(2, 'a') Hello
(2, 'b') Hello
(3, 'a') Hello
(3, 'b') Hello
(4, 'a') Hello
(4, 'b') Hello

In [113]:
list

[None, None, None, None, None, None, None, None]

In [114]:
#lambda function anonymous function (jiska koi nam na ho)

In [115]:
def mul(a,b):
    return a*b

In [117]:
multiple = mul(2,2)
multiple

4

In [120]:
lambda_structure = [lambda arguments : statement]

In [124]:
anony_func = lambda a,b : a*b

In [125]:
anony_func(2,2)

4

In [147]:
lst1 = [1,2,3,4]
lst_fun = lambda lst1 : [i*2 for i in lst1]
lst_fun(lst1)

[2, 4, 6, 8]

In [148]:
dic1 = {'a':1, 'b':2, 'c':3, 'd':4}
dic_fun = lambda dic1 : [(k,v) for k,v in dic1.items()]
dic_fun(dic1)

[('a', 1), ('b', 2), ('c', 3), ('d', 4)]

In [150]:
friends = ['Ali', "mohsin", "Nehal", "Humza"]
best_friend = ['Ali','nehal']
friend_func = lambda friends,best_friend : [x for x in friends if x in best_friend]

In [151]:
friend_func(friends,best_friend)

['Ali']