In [ ]:
city_0 = 'Karachi'
city_1 = 'Lahore'
city_2 = 'Islamabad'

#list 

cities = ['Karachi','Lahore','Islamabad']

In [ ]:
cities

In [ ]:
len(cities) # no. of members

In [ ]:
#indexing:
cities = ['Karachi','Lahore','Islamabad']
# index no : 0         1          2

In [ ]:
cities[0]

In [ ]:
cities[3]

In [ ]:
cities[2]

In [ ]:
mix = ['str',7,5.0,True]
mix

In [ ]:
type(mix)

In [ ]:
listinlist = [mix,cities]
listinlist

In [ ]:
listinlist[1][1]

In [ ]:
listinlist[1][2]

In [ ]:
#Small assignment
#combinations
#get 1st list's second item
#get Karachi
# get

In [ ]:
mix

In [ ]:
del mix[2]
mix

In [ ]:
mix[1]

In [ ]:
mix.remove(7)
mix

In [ ]:
mix = ['str',8, 7,6.0,True,7]
mix.remove(7)
mix

In [ ]:
#signature - function's defination

# ShiFT + TAB

In [ ]:
l1= ['a','b']

In [ ]:
del l1[0]
l1

In [ ]:
l1

In [ ]:
faculty = ['Hamza','Ali']

In [ ]:
faculty.append('Shahzad')     # append adds the value from the very last

In [ ]:
faculty

In [ ]:
faculty.append('Mohsin')
faculty

In [ ]:
# To add a value with your will
faculty.insert(0, 'Sir')
faculty

In [ ]:
del faculty[0]
faculty

In [ ]:
faculty.insert(16,74)
faculty

In [ ]:
faculty[2] = 'M. Ali'
faculty

In [ ]:
faculty.index('Hamza')       # to find a index of a particular member

In [ ]:
numbers = [4,2,5,3,1]
numbers.sort()
numbers

In [ ]:
numbers.sort(reverse=True)
numbers

In [ ]:
alphabet = ['a','d','b','c','z']
alphabet.sort()

In [ ]:
alphabet

In [ ]:
alphabet.sort(reverse=True)
alphabet

In [ ]:
alphabet.sort(reverse=False)
alphabet

In [ ]:
mix2 = [1,3,5,'a',2,'c',4,'b']
mix2.sort()

In [ ]:
# to remove from one list and add it to other list
l1 =['st1','st2','st3','st4']
l=l1.pop()   # to dlete last element from list and hand add it to any  other vaariable
l

l=l1.pop(1)    
l


# Slicing

In [ ]:
numbers = [1,2,3,4,5,6,7,8,9,10]        # to get a bundle of numbrs
#index no  0 1 2 3 4 5 6 7 8 9
# numbers[ start : end ]     ending point is less then 1
numbers

In [ ]:
new_num = numbers[1:3]
new_num

In [ ]:
numbers

In [ ]:
new_num2 = numbers[4:8]
new_num2

In [ ]:
alphanumeric = ['a',1,'b',2]
alphanumeric

In [ ]:
alphanumeric[1:3]

In [ ]:
# Even Odd assignment

In [ ]:
list1 = numbers.copy()
list1

In [ ]:
list1[-1]

In [ ]:
list1[-2]

In [ ]:
list1= [1,2,3,4,5,6,7,8,9,10]
#index  0,1,2,3,4,5,6,7,8,9
#-index -8,-7,-6,-5,-4,-3,-2,-1

In [ ]:
list1[4:2]    # will not raise error but show empty box bec it will not work in oppssite way

In [ ]:
list1[-3:-1]

In [ ]:
list1[-3:3]

In [ ]:
list1[-7:1]

In [ ]:
height_in_cm = float(input("Enter your Height in Cm here : "))
weight = float(input("Enter your weightt in Kg here : "))
height_in_m = height_in_cm / 100
bmi = weight/height_in_m**2

print('That categorization is the subject of some debate about where on the BMI scale the dividing lines between categories should be placed.')
print("""Commonly accepted BMI ranges are:

underweight: Under 18.5 kg/m2

Normal weight: 18.5 to 25

Overweight: 25 to 30

Obese: over 30""")

if bmi <= 18.5:
    print('Your BMI scale is ' + str(bmi) + ' This is Underweight.')
    print('Underweight. ... An underweight person is a type of person whose body weight is considered too low to be healthy. Underweight people have a body mass index (BMI) of under 18.5 or a weight 15% to 20% below that normal for their age and height group.')
elif bmi  <= 25:
    print('Your BMI scale is ' + str(bmi) + ' This is Normal.')
    print("The body mass index (BMI) is a measure that uses your height and weight to work out if your weight is healthy. The BMI calculation divides an adult's weight in kilograms by their height in metres squared. For example, A BMI of 25 means 25kg/m2")
else:
    print('Your BMI scale is ' + str(bmi) + ' This is Obese.')

    print('''
Obesity is a medical condition in which excess body fat has accumulated to the extent that it may have an adverse effect on health. It is defined by body mass index (BMI) and further evaluated in terms of fat distribution via the waistâ€“hip ratio and total cardiovascular risk factors.

Complications: Cardiovascular diseases, type 2

Diagnostic method: BMI > 30 kg/m2

Symptoms: Increased fat

Treatment: Diet, exercise, medications, surgery''')

# Tuples

In [ ]:
tup =(1,2,3)       #tuple me append nh hota

In [ ]:
tup

In [ ]:
type(tup)

In [ ]:
print(tup)

In [ ]:
print(type(tup))

In [ ]:
tup1 = ('a',1,1.5,True)

In [ ]:
tup1

In [ ]:
tup1[1]

In [ ]:
tup1[0]

In [ ]:
tup1[1:3]

In [ ]:
tup1 = 'a',1,1.5,True

In [ ]:
tup1

In [ ]:
friends = ['humza','tayab','dawood']

In [ ]:
friends.append('abdullah')

In [ ]:
friends

In [ ]:
friends

In [ ]:
friends.remove('abdullah')

In [ ]:
friends

In [ ]:
best_friend =[]

In [ ]:
friends.pop(0)

In [ ]:
friends

In [ ]:
best_friend

In [ ]:
friends.append('humza')

In [ ]:
friends

In [ ]:
best_friend.append(friends.pop(2))

In [ ]:
best_friend

In [ ]:
my_tuple = ('Ahsan', 21 , 21.45 , True)

In [ ]:
my_tuple[2]

In [ ]:
slice_value = my_tuple[1:4]

In [ ]:
slice_value

In [ ]:
my_tuple

In [ ]:
del my_tuple[0]      #tuple me se kuch delete nh kar sakte / append b nh hoskta

In [ ]:
new_tuple = (1,2,3,4,5,6,7.89,8.6)

In [ ]:
new_tuple.index(8.6)    #index bata dia

In [ ]:
dost = ('Ali', 'Humza', 'Khan', 'Mohsin', 'Humza')
dost.index("Humza")

In [ ]:
dost = ('Ali', 'Humza', 'Khan', 'Mohsin', 'Humza')
dost.index("Humza",3)

# dost = ('Ali', 'Humza', 'Khan', 'Mohsin', 'Humza')
dost.index("Shezi")

In [ ]:
dost.index("Humza",3)

In [ ]:
numbers = (1 , 2 , 2 , 3 , 4 , 5, 6 , 1 , 5 , 3  , 2 , 2)
numbers.count(2)         #mode batyega ktni bar hy value

In [ ]:
numbers.count(123)

# Loops

# for loop

In [ ]:
my_numbers = [1,2,3,4,6,8,10]
for number in my_numbers:           #for k loop se list k element oth k variable me ajayenge
    mult = number * 2
    print(mult)

In [ ]:
name1 = ['Ali' , "umer" , 'Ahsan' , "nasir"]
for name2 in name1:
    print(name2)

In [ ]:
# 2 X 1 = 2

In [ ]:
for i in range(11):
    print(i,"Pakistan Zindabad")

In [ ]:
for a in range(1,11):
    print(a , "PIAIC")

In [ ]:
for z in range(1,11,1):       #step le rha ha 
    print(z)

In [ ]:
for b in range(1,11,2):
    print(b)

In [ ]:
for r in range(10,0,-1):  #decending order
    print(r)

In [ ]:
#by default be behavior print ka end='/'
# for line end=" "
for r in range(10,0,-1):
    print(r,end=" ")

# Print formating

In [ ]:
#for space or TAB in print use end=" \t"     escape characters
#print ka by default behavior , hy space k liye 
print('asad','ali','humza')

In [ ]:
print('asad','ali','humza', sep="***")

In [ ]:
print('asad','ali','humza', sep="====")

In [ ]:
name = "Nehal"
age = 26
print("My name is and my age is")

In [ ]:
name = "Nehal"
age = "26"
print("My name is "+ name + "and my age is "+ age)

In [ ]:
name = "Nehal"
age = "26"
print("My name is {} and my age is {}".format(name,age))

In [ ]:
name = "Nehal"
age = "26"
print("My name is {0} and my age is {1}".format(name,age))

In [ ]:
name = "Nehal"
age = 26
print("My name is {} and my age is {}".format(name,age))

In [ ]:
name = "Nehal"
age = "26"
print(f"My name is {name} and my age is {age}")

In [ ]:
name = "Nehal"
age = 26
print(f"My name is {name} and my age is {age}")

In [ ]:
table = int(input("Enter your table number"))
for nums in range(1,11):
    print(table*nums)

In [ ]:
table = int(input("Enter your table number"))
for nums in range(1,11):
    print(f"{table}* {nums} = {table*nums}")

In [ ]:
 #break , continue , pass

In [ ]:
table = int(input("Enter your table number"))
for nums in range(1,11):
    if nums == 3:
        break
    print(f"{table}* {nums} = {table*nums}")

In [ ]:
table = int(input("Enter your table number"))
for nums in range(1,11,2):
    if nums == 3:
        break
    print(f"{table}* {nums} = {table*nums}")

In [ ]:
table = int(input("Enter your table number"))
for nums in range(1,11):
    if nums == 3:
        continue
    print(f"{table}* {nums} = {table*nums}")

In [ ]:
table = int(input("Enter your table number"))
for nums in range(1,11):
    if nums == 3:
        pass
    print(f"{table}* {nums} = {table*nums}")

In [ ]:
table = int(input("Enter your table number"))
for nums in range(1,11):
    if nums == 3:
        break
    print(f"{table}* {nums} = {table*nums}")

In [ ]:
table = int(input("Enter your table number"))
for nums in range(1,11):
    if nums == 3:
        continue
    print(f"{table}* {nums} = {table*nums}")

In [ ]:
table = int(input("Enter your table number"))
for nums in range(1,11):
    if nums == 3:
        pass
    print(f"{table}* {nums} = {table*nums}")

In [ ]:
table = int(input("Enter your table number"))
for nums in range(0,11):
    if nums == 3:
        break
    print(f"{table}* {nums} = {table*nums}")

In [ ]:
table = int(input("Enter your table number"))
for nums in range(0,11):
    if nums == 3:
        continue
    print(f"{table}* {nums} = {table*nums}")

In [ ]:
Friend_list = ['Ali', 'Humza', 'Khan', 'Shezi']
for Friend in Friend_list:
    if Friend != 'Khan':
        print("Party Enjoy")
    else:
        print("Bhag Abba Agae")

In [ ]:
Friend_list = ['Ali', 'Humza', 'Khan', 'Shezi']
for Friend in Friend_list:
    if Friend != 'Khan':
        print("Party Enjoy")
    else:
        print("Bhag Abba Agae")
        break

In [ ]:
for a in range(10):

In [ ]:
for a in range(10):     #pass error nh ane dega program excute karega
    pass

# Nested Loop

#for Nested loops

In [ ]:
#nested means ek k ander ek chez phir further further  (inner loop outer loop pe depend ho)

In [ ]:
for a in range(10):
    print(a)
for b in ['a','b','c','v']:
    print(a,b)      #ye normal loop ha dpended nh ha

In [ ]:
for a in range(10):
    for b in ['a','b','c','v' ]:
     print(a,b,end= " \t")

In [2]:
a = int(input("Enter Your number"))
for c in range(a):
    for b in ['a','b','c','v' ]:
    print(c,b,end= " \t")

Enter Your number6
0 a 	0 b 	0 c 	0 v 	1 a 	1 b 	1 c 	1 v 	2 a 	2 b 	2 c 	2 v 	3 a 	3 b 	3 c 	3 v 	4 a 	4 b 	4 c 	4 v 	5 a 	5 b 	5 c 	5 v

In [3]:
a = int(input("enter your number"))
for c in range(a):
    for b in ['a','b','c','v' ]:
        print(c,b,end= " \t")

enter your number5
0 a 	0 b 	0 c 	0 v 	1 a 	1 b 	1 c 	1 v 	2 a 	2 b 	2 c 	2 v 	3 a 	3 b 	3 c 	3 v 	4 a 	4 b 	4 c 	4 v

In [12]:
for table in range(2,11):
    print("*********")
    for counter in range(1,11):
        print(f"{table}* {counter} = {table*counter}")

*********
2* 1 = 2
2* 2 = 4
2* 3 = 6
2* 4 = 8
2* 5 = 10
2* 6 = 12
2* 7 = 14
2* 8 = 16
2* 9 = 18
2* 10 = 20
*********
3* 1 = 3
3* 2 = 6
3* 3 = 9
3* 4 = 12
3* 5 = 15
3* 6 = 18
3* 7 = 21
3* 8 = 24
3* 9 = 27
3* 10 = 30
*********
4* 1 = 4
4* 2 = 8
4* 3 = 12
4* 4 = 16
4* 5 = 20
4* 6 = 24
4* 7 = 28
4* 8 = 32
4* 9 = 36
4* 10 = 40
*********
5* 1 = 5
5* 2 = 10
5* 3 = 15
5* 4 = 20
5* 5 = 25
5* 6 = 30
5* 7 = 35
5* 8 = 40
5* 9 = 45
5* 10 = 50
*********
6* 1 = 6
6* 2 = 12
6* 3 = 18
6* 4 = 24
6* 5 = 30
6* 6 = 36
6* 7 = 42
6* 8 = 48
6* 9 = 54
6* 10 = 60
*********
7* 1 = 7
7* 2 = 14
7* 3 = 21
7* 4 = 28
7* 5 = 35
7* 6 = 42
7* 7 = 49
7* 8 = 56
7* 9 = 63
7* 10 = 70
*********
8* 1 = 8
8* 2 = 16
8* 3 = 24
8* 4 = 32
8* 5 = 40
8* 6 = 48
8* 7 = 56
8* 8 = 64
8* 9 = 72
8* 10 = 80
*********
9* 1 = 9
9* 2 = 18
9* 3 = 27
9* 4 = 36
9* 5 = 45
9* 6 = 54
9* 7 = 63
9* 8 = 72
9* 9 = 81
9* 10 = 90
*********
10* 1 = 10
10* 2 = 20
10* 3 = 30
10* 4 = 40
10* 5 = 50
10* 6 = 60
10* 7 = 70
10* 8 = 80
10* 9 = 90
10* 10 = 100

In [13]:
for table in range(2,11):
    print("*********")
    for counter in range(1,11):
        print(f"{table}* {counter} = {table*counter}",end=" ")

*********
2* 1 = 2 2* 2 = 4 2* 3 = 6 2* 4 = 8 2* 5 = 10 2* 6 = 12 2* 7 = 14 2* 8 = 16 2* 9 = 18 2* 10 = 20 *********
3* 1 = 3 3* 2 = 6 3* 3 = 9 3* 4 = 12 3* 5 = 15 3* 6 = 18 3* 7 = 21 3* 8 = 24 3* 9 = 27 3* 10 = 30 *********
4* 1 = 4 4* 2 = 8 4* 3 = 12 4* 4 = 16 4* 5 = 20 4* 6 = 24 4* 7 = 28 4* 8 = 32 4* 9 = 36 4* 10 = 40 *********
5* 1 = 5 5* 2 = 10 5* 3 = 15 5* 4 = 20 5* 5 = 25 5* 6 = 30 5* 7 = 35 5* 8 = 40 5* 9 = 45 5* 10 = 50 *********
6* 1 = 6 6* 2 = 12 6* 3 = 18 6* 4 = 24 6* 5 = 30 6* 6 = 36 6* 7 = 42 6* 8 = 48 6* 9 = 54 6* 10 = 60 *********
7* 1 = 7 7* 2 = 14 7* 3 = 21 7* 4 = 28 7* 5 = 35 7* 6 = 42 7* 7 = 49 7* 8 = 56 7* 9 = 63 7* 10 = 70 *********
8* 1 = 8 8* 2 = 16 8* 3 = 24 8* 4 = 32 8* 5 = 40 8* 6 = 48 8* 7 = 56 8* 8 = 64 8* 9 = 72 8* 10 = 80 *********
9* 1 = 9 9* 2 = 18 9* 3 = 27 9* 4 = 36 9* 5 = 45 9* 6 = 54 9* 7 = 63 9* 8 = 72 9* 9 = 81 9* 10 = 90 *********
10* 1 = 10 10* 2 = 20 10* 3 = 30 10* 4 = 40 10* 5 = 50 10* 6 = 60 10* 7 = 70 10* 8 = 80 10* 9 = 90 10* 10 = 100