In [1]:
city_0 = 'Karachi'
city_1 = 'Lahore'
city_2 = 'Islamabad'

#list 

cities = ['Karachi','Lahore','Islamabad']

In [2]:
cities

['Karachi', 'Lahore', 'Islamabad']

In [3]:
len(cities) # no. of members

3

In [4]:
#indexing:
cities = ['Karachi','Lahore','Islamabad']
# index no : 0         1          2

In [5]:
cities[0]

'Karachi'

In [6]:
cities[3]

IndexError: list index out of range

In [ ]:
cities[2]

In [ ]:
mix = ['str',7,5.0,True]
mix

In [ ]:
type(mix)

In [ ]:
listinlist = [mix,cities]
listinlist

In [ ]:
listinlist[1][1]

In [ ]:
listinlist[1][2]

In [ ]:
#Small assignment
#combinations
#get 1st list's second item
#get Karachi
# get

In [ ]:
mix

In [ ]:
del mix[2]
mix

In [ ]:
mix[1]

In [ ]:
mix.remove(7)
mix

In [ ]:
mix = ['str',8, 7,6.0,True,7]
mix.remove(7)
mix

In [ ]:
#signature - function's defination

# ShiFT + TAB

In [ ]:
l1= ['a','b']

In [ ]:
del l1[0]
l1

In [ ]:
l1

In [ ]:
faculty = ['Hamza','Ali']

In [ ]:
faculty.append('Shahzad')     # append adds the value from the very last

In [ ]:
faculty

In [ ]:
faculty.append('Mohsin')
faculty

In [ ]:
# To add a value with your will
faculty.insert(0, 'Sir')
faculty

In [ ]:
del faculty[0]
faculty

In [ ]:
faculty.insert(16,74)
faculty

In [ ]:
faculty[2] = 'M. Ali'
faculty

In [ ]:
faculty.index('Hamza')       # to find a index of a particular member

In [ ]:
numbers = [4,2,5,3,1]
numbers.sort()
numbers

In [ ]:
numbers.sort(reverse=True)
numbers

In [ ]:
alphabet = ['a','d','b','c','z']
alphabet.sort()

In [ ]:
alphabet

In [ ]:
alphabet.sort(reverse=True)
alphabet

In [7]:
alphabet.sort(reverse=False)
alphabet

NameError: name 'alphabet' is not defined

In [ ]:
mix2 = [1,3,5,'a',2,'c',4,'b']
mix2.sort()

In [ ]:
# to remove from one list and add it to other list
l1 =['st1','st2','st3','st4']
l=l1.pop()   # to dlete last element from list and hand add it to any  other vaariable
l

l=l1.pop(1)    
l


# Slicing

In [ ]:
numbers = [1,2,3,4,5,6,7,8,9,10]        # to get a bundle of numbrs
#index no  0 1 2 3 4 5 6 7 8 9
# numbers[ start : end ]     ending point is less then 1
numbers

In [ ]:
new_num = numbers[1:3]
new_num

In [ ]:
numbers

In [ ]:
new_num2 = numbers[4:8]
new_num2

In [ ]:
alphanumeric = ['a',1,'b',2]
alphanumeric

In [ ]:
alphanumeric[1:3]

In [ ]:
# Even Odd assignment

In [ ]:
list1 = numbers.copy()
list1

In [ ]:
list1[-1]

In [ ]:
list1[-2]

In [ ]:
list1= [1,2,3,4,5,6,7,8,9,10]
#index  0,1,2,3,4,5,6,7,8,9
#-index -8,-7,-6,-5,-4,-3,-2,-1

In [ ]:
list1[4:2]    # will not raise error but show empty box bec it will not work in oppssite way

In [ ]:
list1[-3:-1]

In [ ]:
list1[-3:3]

In [ ]:
list1[-7:1]

In [ ]:
height_in_cm = float(input("Enter your Height in Cm here : "))
weight = float(input("Enter your weightt in Kg here : "))
height_in_m = height_in_cm / 100
bmi = weight/height_in_m**2

print('That categorization is the subject of some debate about where on the BMI scale the dividing lines between categories should be placed.')
print("""Commonly accepted BMI ranges are:

underweight: Under 18.5 kg/m2

Normal weight: 18.5 to 25

Overweight: 25 to 30

Obese: over 30""")

if bmi <= 18.5:
    print('Your BMI scale is ' + str(bmi) + ' This is Underweight.')
    print('Underweight. ... An underweight person is a type of person whose body weight is considered too low to be healthy. Underweight people have a body mass index (BMI) of under 18.5 or a weight 15% to 20% below that normal for their age and height group.')
elif bmi  <= 25:
    print('Your BMI scale is ' + str(bmi) + ' This is Normal.')
    print("The body mass index (BMI) is a measure that uses your height and weight to work out if your weight is healthy. The BMI calculation divides an adult's weight in kilograms by their height in metres squared. For example, A BMI of 25 means 25kg/m2")
else:
    print('Your BMI scale is ' + str(bmi) + ' This is Obese.')

    print('''
Obesity is a medical condition in which excess body fat has accumulated to the extent that it may have an adverse effect on health. It is defined by body mass index (BMI) and further evaluated in terms of fat distribution via the waist–hip ratio and total cardiovascular risk factors.

Complications: Cardiovascular diseases, type 2

Diagnostic method: BMI > 30 kg/m2

Symptoms: Increased fat

Treatment: Diet, exercise, medications, surgery''')

# Tuples

In [ ]:
tup =(1,2,3)       #tuple me append nh hota

In [ ]:
tup

In [ ]:
type(tup)

In [ ]:
print(tup)

In [ ]:
print(type(tup))

In [ ]:
tup1 = ('a',1,1.5,True)

In [ ]:
tup1

In [ ]:
tup1[1]

In [ ]:
tup1[0]

In [ ]:
tup1[1:3]

In [ ]:
tup1 = 'a',1,1.5,True

In [ ]:
tup1

In [ ]:
friends = ['humza','tayab','dawood']

In [ ]:
friends.append('abdullah')

In [ ]:
friends

In [8]:
friends

NameError: name 'friends' is not defined

In [ ]:
friends.remove('abdullah')

In [ ]:
friends

In [ ]:
best_friend =[]

In [ ]:
friends.pop(0)

In [ ]:
friends

In [ ]:
best_friend

In [ ]:
friends.append('humza')

In [ ]:
friends

In [ ]:
best_friend.append(friends.pop(2))

In [ ]:
best_friend

In [ ]:
my_tuple = ('Ahsan', 21 , 21.45 , True)

In [ ]:
my_tuple[2]

In [ ]:
slice_value = my_tuple[1:4]

In [ ]:
slice_value

In [ ]:
my_tuple

In [ ]:
del my_tuple[0]      #tuple me se kuch delete nh kar sakte / append b nh hoskta

In [ ]:
new_tuple = (1,2,3,4,5,6,7.89,8.6)

In [ ]:
new_tuple.index(8.6)    #index bata dia

In [ ]:
dost = ('Ali', 'Humza', 'Khan', 'Mohsin', 'Humza')
dost.index("Humza")

In [ ]:
dost = ('Ali', 'Humza', 'Khan', 'Mohsin', 'Humza')
dost.index("Humza",3)

# dost = ('Ali', 'Humza', 'Khan', 'Mohsin', 'Humza')
dost.index("Shezi")

In [ ]:
dost.index("Humza",3)

In [ ]:
numbers = (1 , 2 , 2 , 3 , 4 , 5, 6 , 1 , 5 , 3  , 2 , 2)
numbers.count(2)         #mode batyega ktni bar hy value

In [ ]:
numbers.count(123)

# Loops

# for loop

In [ ]:
my_numbers = [1,2,3,4,6,8,10]
for number in my_numbers:           #for k loop se list k element oth k variable me ajayenge
    mult = number * 2
    print(mult)

In [ ]:
name1 = ['Ali' , "umer" , 'Ahsan' , "nasir"]
for name2 in name1:
    print(name2)

In [ ]:
# 2 X 1 = 2

In [ ]:
for i in range(11):
    print(i,"Pakistan Zindabad")

In [ ]:
for a in range(1,11):
    print(a , "PIAIC")

In [ ]:
for z in range(1,11,1):       #step le rha ha 
    print(z)

In [ ]:
for b in range(1,11,2):
    print(b)

In [ ]:
for r in range(10,0,-1):  #decending order
    print(r)

In [ ]:
#by default be behavior print ka end='/'
# for line end=" "
for r in range(10,0,-1):
    print(r,end=" ")

# Print formating

In [ ]:
#for space or TAB in print use end=" \t"     escape characters
#print ka by default behavior , hy space k liye 
print('asad','ali','humza')

In [ ]:
print('asad','ali','humza', sep="***")

In [ ]:
print('asad','ali','humza', sep="====")

In [9]:
name = "Nehal"
age = 26
print("My name is and my age is")

My name is and my age is

In [10]:
name = "Nehal"
age = "26"
print("My name is "+ name + "and my age is "+ age)

My name is Nehaland my age is 26

In [11]:
name = "Nehal"
age = "26"
print("My name is {} and my age is {}".format(name,age))

My name is Nehal and my age is 26

In [12]:
name = "Nehal"
age = "26"
print("My name is {0} and my age is {1}".format(name,age))

My name is Nehal and my age is 26

In [13]:
name = "Nehal"
age = 26
print("My name is {} and my age is {}".format(name,age))

My name is Nehal and my age is 26

In [14]:
name = "Nehal"
age = "26"
print(f"My name is {name} and my age is {age}")

My name is Nehal and my age is 26

In [15]:
name = "Nehal"
age = 26
print(f"My name is {name} and my age is {age}")

My name is Nehal and my age is 26

In [16]:
table = int(input("Enter your table number"))
for nums in range(1,11):
    print(table*nums)

Enter your table number2
2
4
6
8
10
12
14
16
18
20

In [17]:
table = int(input("Enter your table number"))
for nums in range(1,11):
    print(f"{table}* {nums} = {table*nums}")

Enter your table number2
2* 1 = 2
2* 2 = 4
2* 3 = 6
2* 4 = 8
2* 5 = 10
2* 6 = 12
2* 7 = 14
2* 8 = 16
2* 9 = 18
2* 10 = 20

In [18]:
 #break , continue , pass

In [19]:
table = int(input("Enter your table number"))
for nums in range(1,11):
    if nums == 3:
        break
    print(f"{table}* {nums} = {table*nums}")

Enter your table number2
2* 1 = 2
2* 2 = 4

In [20]:
table = int(input("Enter your table number"))
for nums in range(1,11,2):
    if nums == 3:
        break
    print(f"{table}* {nums} = {table*nums}")

Enter your table number2
2* 1 = 2

In [21]:
table = int(input("Enter your table number"))
for nums in range(1,11):
    if nums == 3:
        continue
    print(f"{table}* {nums} = {table*nums}")

Enter your table number3
3* 1 = 3
3* 2 = 6
3* 4 = 12
3* 5 = 15
3* 6 = 18
3* 7 = 21
3* 8 = 24
3* 9 = 27
3* 10 = 30

In [22]:
table = int(input("Enter your table number"))
for nums in range(1,11):
    if nums == 3:
        pass
    print(f"{table}* {nums} = {table*nums}")

Enter your table number4
4* 1 = 4
4* 2 = 8
4* 3 = 12
4* 4 = 16
4* 5 = 20
4* 6 = 24
4* 7 = 28
4* 8 = 32
4* 9 = 36
4* 10 = 40

In [23]:
table = int(input("Enter your table number"))
for nums in range(1,11):
    if nums == 3:
        break
    print(f"{table}* {nums} = {table*nums}")

Enter your table number2
2* 1 = 2
2* 2 = 4

In [24]:
table = int(input("Enter your table number"))
for nums in range(1,11):
    if nums == 3:
        continue
    print(f"{table}* {nums} = {table*nums}")

Enter your table number5
5* 1 = 5
5* 2 = 10
5* 4 = 20
5* 5 = 25
5* 6 = 30
5* 7 = 35
5* 8 = 40
5* 9 = 45
5* 10 = 50

In [25]:
table = int(input("Enter your table number"))
for nums in range(1,11):
    if nums == 3:
        pass
    print(f"{table}* {nums} = {table*nums}")

Enter your table number3
3* 1 = 3
3* 2 = 6
3* 3 = 9
3* 4 = 12
3* 5 = 15
3* 6 = 18
3* 7 = 21
3* 8 = 24
3* 9 = 27
3* 10 = 30

In [26]:
table = int(input("Enter your table number"))
for nums in range(0,11):
    if nums == 3:
        break
    print(f"{table}* {nums} = {table*nums}")

Enter your table number3
3* 0 = 0
3* 1 = 3
3* 2 = 6

In [27]:
table = int(input("Enter your table number"))
for nums in range(0,11):
    if nums == 3:
        continue
    print(f"{table}* {nums} = {table*nums}")

Enter your table number2
2* 0 = 0
2* 1 = 2
2* 2 = 4
2* 4 = 8
2* 5 = 10
2* 6 = 12
2* 7 = 14
2* 8 = 16
2* 9 = 18
2* 10 = 20

In [28]:
Friend_list = ['Ali', 'Humza', 'Khan', 'Shezi']
for Friend in Friend_list:
    if Friend != 'Khan':
        print("Party Enjoy")
    else:
        print("Bhag Abba Agae")

Party Enjoy
Party Enjoy
Bhag Abba Agae
Party Enjoy

In [29]:
Friend_list = ['Ali', 'Humza', 'Khan', 'Shezi']
for Friend in Friend_list:
    if Friend != 'Khan':
        print("Party Enjoy")
    else:
        print("Bhag Abba Agae")
        break

Party Enjoy
Party Enjoy
Bhag Abba Agae

In [31]:
for a in range(10):

SyntaxError: unexpected EOF while parsing (<ipython-input-31-ffe9b5e51155>, line 1)

In [32]:
for a in range(10):     #pass error nh ane dega program excute karega
    pass

# Nested Loop

#for Nested loops

In [33]:
#nested means ek k ander ek chez phir further further  (inner loop outer loop pe depend ho)

In [34]:
for a in range(10):
    print(a)
for b in ['a','b','c','v']:
    print(a,b)      #ye normal loop ha dpended nh ha

0
1
2
3
4
5
6
7
8
9
9 a
9 b
9 c
9 v

In [35]:
for a in range(10):
    for b in ['a','b','c','v' ]:
     print(a,b,end= " \t")

0 a 	0 b 	0 c 	0 v 	1 a 	1 b 	1 c 	1 v 	2 a 	2 b 	2 c 	2 v 	3 a 	3 b 	3 c 	3 v 	4 a 	4 b 	4 c 	4 v 	5 a 	5 b 	5 c 	5 v 	6 a 	6 b 	6 c 	6 v 	7 a 	7 b 	7 c 	7 v 	8 a 	8 b 	8 c 	8 v 	9 a 	9 b 	9 c 	9 v

In [36]:
a = int(input("Enter Your number"))
for c in range(a):
    for b in ['a','b','c','v' ]:
    print(c,b,end= " \t")

IndentationError: expected an indented block (<ipython-input-36-816a53de8275>, line 4)

In [37]:
a = int(input("enter your number"))
for c in range(a):
    for b in ['a','b','c','v' ]:
        print(c,b,end= " \t")

enter your number

ValueError: invalid literal for int() with base 10: ''

In [38]:
for table in range(2,11):
    print("*********")
    for counter in range(1,11):
        print(f"{table}* {counter} = {table*counter}")

*********
2* 1 = 2
2* 2 = 4
2* 3 = 6
2* 4 = 8
2* 5 = 10
2* 6 = 12
2* 7 = 14
2* 8 = 16
2* 9 = 18
2* 10 = 20
*********
3* 1 = 3
3* 2 = 6
3* 3 = 9
3* 4 = 12
3* 5 = 15
3* 6 = 18
3* 7 = 21
3* 8 = 24
3* 9 = 27
3* 10 = 30
*********
4* 1 = 4
4* 2 = 8
4* 3 = 12
4* 4 = 16
4* 5 = 20
4* 6 = 24
4* 7 = 28
4* 8 = 32
4* 9 = 36
4* 10 = 40
*********
5* 1 = 5
5* 2 = 10
5* 3 = 15
5* 4 = 20
5* 5 = 25
5* 6 = 30
5* 7 = 35
5* 8 = 40
5* 9 = 45
5* 10 = 50
*********
6* 1 = 6
6* 2 = 12
6* 3 = 18
6* 4 = 24
6* 5 = 30
6* 6 = 36
6* 7 = 42
6* 8 = 48
6* 9 = 54
6* 10 = 60
*********
7* 1 = 7
7* 2 = 14
7* 3 = 21
7* 4 = 28
7* 5 = 35
7* 6 = 42
7* 7 = 49
7* 8 = 56
7* 9 = 63
7* 10 = 70
*********
8* 1 = 8
8* 2 = 16
8* 3 = 24
8* 4 = 32
8* 5 = 40
8* 6 = 48
8* 7 = 56
8* 8 = 64
8* 9 = 72
8* 10 = 80
*********
9* 1 = 9
9* 2 = 18
9* 3 = 27
9* 4 = 36
9* 5 = 45
9* 6 = 54
9* 7 = 63
9* 8 = 72
9* 9 = 81
9* 10 = 90
*********
10* 1 = 10
10* 2 = 20
10* 3 = 30
10* 4 = 40
10* 5 = 50
10* 6 = 60
10* 7 = 70
10* 8 = 80
10* 9 = 90
10* 10 = 100

In [39]:
for table in range(2,11):
    print("*********")
    for counter in range(1,11):
        print(f"{table}* {counter} = {table*counter}",end=" ")

*********
2* 1 = 2 2* 2 = 4 2* 3 = 6 2* 4 = 8 2* 5 = 10 2* 6 = 12 2* 7 = 14 2* 8 = 16 2* 9 = 18 2* 10 = 20 *********
3* 1 = 3 3* 2 = 6 3* 3 = 9 3* 4 = 12 3* 5 = 15 3* 6 = 18 3* 7 = 21 3* 8 = 24 3* 9 = 27 3* 10 = 30 *********
4* 1 = 4 4* 2 = 8 4* 3 = 12 4* 4 = 16 4* 5 = 20 4* 6 = 24 4* 7 = 28 4* 8 = 32 4* 9 = 36 4* 10 = 40 *********
5* 1 = 5 5* 2 = 10 5* 3 = 15 5* 4 = 20 5* 5 = 25 5* 6 = 30 5* 7 = 35 5* 8 = 40 5* 9 = 45 5* 10 = 50 *********
6* 1 = 6 6* 2 = 12 6* 3 = 18 6* 4 = 24 6* 5 = 30 6* 6 = 36 6* 7 = 42 6* 8 = 48 6* 9 = 54 6* 10 = 60 *********
7* 1 = 7 7* 2 = 14 7* 3 = 21 7* 4 = 28 7* 5 = 35 7* 6 = 42 7* 7 = 49 7* 8 = 56 7* 9 = 63 7* 10 = 70 *********
8* 1 = 8 8* 2 = 16 8* 3 = 24 8* 4 = 32 8* 5 = 40 8* 6 = 48 8* 7 = 56 8* 8 = 64 8* 9 = 72 8* 10 = 80 *********
9* 1 = 9 9* 2 = 18 9* 3 = 27 9* 4 = 36 9* 5 = 45 9* 6 = 54 9* 7 = 63 9* 8 = 72 9* 9 = 81 9* 10 = 90 *********
10* 1 = 10 10* 2 = 20 10* 3 = 30 10* 4 = 40 10* 5 = 50 10* 6 = 60 10* 7 = 70 10* 8 = 80 10* 9 = 90 10* 10 = 100

In [40]:
print("p")

p

# Dictionary

In [41]:
dict = {"name":'Humza', 'age': 23, 'cnic': '4200-2222-2222'}
print(dict)           #ek dict me ek hi nam ki do keyss nh hoskti

{'name': 'Humza', 'age': 23, 'cnic': '4200-2222-2222'}

In [42]:
dict1 = {32:'abc', 43 : 'gfrt'}
print(dict1)

{32: 'abc', 43: 'gfrt'}

In [43]:
dict['age']

23

In [44]:
dict1[32]

'abc'

In [45]:
empty_dict = {}
empty_dict['f_name']="Humza Khan"
empty_dict['Age']= 33

In [46]:
print(empty_dict)

{'f_name': 'Humza Khan', 'Age': 33}

In [47]:
dict['age']=67
print(dict)

{'name': 'Humza', 'age': 67, 'cnic': '4200-2222-2222'}

In [48]:
same_key = {'name': "mohsin", 'age': 24, "Gender": 'Male', "name": 'Ali'}       #akhri entry ki value lega same key me just
print(same_key)

{'name': 'Ali', 'age': 24, 'Gender': 'Male'}

In [49]:
del same_key['Gender']
print(same_key)

{'name': 'Ali', 'age': 24}

In [50]:
my_dict = {'name': "mohsin", 'age': 24, "Gender": 'Male'}      #value ka function dict me mjod values ki list laga bna k deta ha
for info in my_dict.values():
    print(info)

mohsin
24
Male

In [51]:
dict0= {'name': "Nehal", 'age': 25, 'cnic': '42201-582222-222-1'}
for info1 in dict0.keys():
    print(info1)

name
age
cnic

In [52]:
dict111 = {'a':32, 'b':234}
dict111.values()

dict_values([32, 234])

In [53]:
dict111.keys()

dict_keys(['a', 'b'])

In [54]:
dict3 = {'name': "Nehal", 'age': 25, 'cnic': '42201-582222-222-1','Gender': 'Male'}
for info01 in dict3.keys():
    print(dict3[info01])

Nehal
25
42201-582222-222-1
Male

In [55]:
dict3 = {'name': "Nehal", 'age': 25, 'cnic': '42201-582222-222-1','Gender': 'Male'}
for info01 in dict3.keys():
    print(info01)

name
age
cnic
Gender

In [56]:
dict3 = {'name': "Nehal", 'age': 25, 'cnic': '42201-582222-222-1','Gender': 'Male'}
for key , value in dict3.items():
    print("This is key: ", key , "***","This is value: " , value)

This is key:  name *** This is value:  Nehal
This is key:  age *** This is value:  25
This is key:  cnic *** This is value:  42201-582222-222-1
This is key:  Gender *** This is value:  Male

In [57]:
dict3 = {'name': "Nehal", 'age': 25, 'cnic': '42201-582222-222-1','Gender': 'Male'}
for key , value in dict3.items():
    print( key ,": " , value)

name :  Nehal
age :  25
cnic :  42201-582222-222-1
Gender :  Male

In [58]:
Profile = {}
user = input("Enter your name here: ")
user1 = input("Enter your age here: ")
user2 = input("Enter your gender here: ")
user3 = input("Enter your class: ")
Profile['Name']= user
Profile['Age']=user1
Profile['Gender']=user2
Profile['Class']=user3
print(Profile)

Enter your name here: Nehal
Enter your age here: 25
Enter your gender here: Male
Enter your class: 1
{'Name': 'Nehal', 'Age': '25', 'Gender': 'Male', 'Class': '1'}

In [60]:
Profile = {}
user = input("Enter your name here: ")
user1 = input("Enter your age here: ")
user2 = input("Enter your gender here: ")
user3 = input("Enter your class: ")
Profile['Name']= user
Profile['Age']=user1
Profile['Gender']=user2
Profile['Class']=user3
print(Profile)
for key , value in profile.items():
    print(Key , ":", value)

Enter your name here: nehal
Enter your age here: 23
Enter your gender here: male
Enter your class: 1
{'Name': 'nehal', 'Age': '23', 'Gender': 'male', 'Class': '1'}

NameError: name 'profile' is not defined

In [77]:
customers = [{"customer_id":"123","name":"Shahzad"},
            {"customer_id":"234","name":"Humza"},
            {"customer_id":"345","name":"Ali"},
            {"customer_id":"223","name":"Nehal"},
            {"customer_id":"336","name":"Mohsin"}]

In [78]:
customers[-1]

{'customer_id': '336', 'name': 'Mohsin'}

In [79]:
customers[-1]['name']

'Mohsin'

In [80]:
del customers[1]
print(customers)

[{'customer_id': '123', 'name': 'Shahzad'}, {'customer_id': '345', 'name': 'Ali'}, {'customer_id': '223', 'name': 'Nehal'}, {'customer_id': '336', 'name': 'Mohsin'}]

In [97]:
customers = [{"customer_id":"123","name":"Shahzad"},
            {"customer_id":"234","name":"Humza"},
            {"customer_id":"345","name":"Ali"},
            {"customer_id":"223","name":"Nehal"},
            {"customer_id":"336","name":"Mohsin"}]

In [99]:
for i in customers:
    if i["customer_id"]=="234":
        print(i)
        customers.remove(i)
        print(customers)
        break

{'customer_id': '234', 'name': 'Humza'}
[{'customer_id': '123', 'name': 'Shahzad'}, {'customer_id': '345', 'name': 'Ali'}, {'customer_id': '223', 'name': 'Nehal'}, {'customer_id': '336', 'name': 'Mohsin'}]

In [100]:
customers2 = {"customer_id":"123","name":"Shahzad","interests":['cricket','movies','reading',{'game':'Football'}]}

In [101]:
customers2['interests'][1]

'movies'

In [102]:
customers2['interests'][3]['game']

'Football'

In [104]:
customer = {0:{
    "first name":"John",
    "last name": "Ogden",
    "address": "301 Arbor Rd."
            ,},
             1:{
        "first name":"Ali",
        "last name": "Shah",
        "address": "211 Kashmir Rd."
                 ,},
                2:{
        "first name":"Hussain",
        "last name": "Khan",
        "address": "344 Tariq Rd."
                    ,}}

In [111]:
print(customer[2])

{'first name': 'Hussain', 'last name': 'Khan', 'address': '344 Tariq Rd.'}

In [112]:
print(customer[2]["address"])

344 Tariq Rd.

In [113]:
#agar particular key dict me ha ya nh

1 in customer

True

In [114]:
4 in customer

False

In [119]:
"address" in customer[2]

True

# Functions

In [120]:
# piece of code ,,,, chunk of codes... it saves repitation of works and understand more easier

In [122]:
def Function_name():
    a = 3
    b = 5
    c = a + b
    print(c)           #kuch b nh hua, yahan do chezen hain function calling, function saving once function call it performs

In [123]:
Function_name()

8

In [124]:
Function_name()

8

In [125]:
#parameters round braces me use hoga

In [126]:
def func(x):        #yahan parameter ayega
    print(x)

In [134]:
func('Hello World :-)')        #yahan arugement ayega parameter ka

Hello World :-)

In [135]:
# x and y are parameter
def add(x,y):
    print(x+y)

In [136]:
add(2)

TypeError: add() missing 1 required positional argument: 'y'

In [137]:
#  and 3 are arguments
add(2,4)

6

In [138]:
def Calculator(no1, no2, operator):
    if operator == "+":
        print(no1+no2)
    elif operator == "-":
        print(no1-no2)
    elif operator == "*":
        print(no1*no2)
    elif operator == "/":
        print(no1/no2)
    else:
        print("Invalid Operator")

In [140]:
Calculator(5,4,"+")

9

In [141]:
Calculator(5,4,"-")

1

In [143]:
Calculator(5,4,"*")

20

In [144]:
Calculator(5,4,"/")

1.25

In [145]:
Calculator(5,4,"%")

Invalid Operator

In [146]:
#default function save kar skte

In [147]:
def Calculator(no1, no2, operator="+"):
    if operator == "+":
        print(no1+no2)
    elif operator == "-":
        print(no1-no2)
    elif operator == "*":
        print(no1*no2)
    elif operator == "/":
        print(no1/no2)
    else:
        print("Invalid Operator")

In [148]:
Calculator(10,5,"-")

5

In [149]:
Calculator(10,5)

15

In [150]:
def userandfather(username, fathername):
    print("My name is " + username)
    print("My father name is " + fathername)

In [152]:
userandfather("Syed Nihal Shah", "Syed Jahandad Shah")

My name is Syed Nihal Shah
My father name is Syed Jahandad Shah

In [153]:
userandfather("Syed Jahandad Shah", "Syed Nihal Shah")

My name is Syed Jahandad Shah
My father name is Syed Nihal Shah

In [154]:
userandfather(fathername='Syed Jahandad Shah', username='Syed Nihal Shah')

My name is Syed Nihal Shah
My father name is Syed Jahandad Shah

# Function class missed

# While loop

In [1]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [3]:
var = 0
while var < 10:
    print(var)
    var +=1

0
1
2
3
4
5
6
7
8
9

# Classes

In [7]:
class watch():
    def __init__(put, color , shape , lights , brand):
        put.color = color
        put.shape = shape
        put.lights = lights
        put.brand = brand
    
    def Showing_Time(put):
        print(f"It is showing time on {put.brand}")
    
    def looking_fine(put):
        print(f"It is looking fine on {put.brand}")

In [8]:
watch1 = watch ("black" , "square" , "green" , "digital")

In [9]:
watch2 = watch ("white" , "Circular", "blue" , "classic")

In [10]:
watch1.color

'black'

In [11]:
watch2.color

'white'

In [12]:
watch1.shape

'square'

In [13]:
watch1.lights

'green'

In [15]:
watch1.brand

'digital'

In [16]:
watch2.color,watch2.shape,watch2.lights,watch2.brand

('white', 'Circular', 'blue', 'classic')

In [17]:
watch1.color , watch1.shape , watch1.lights , watch1.brand

('black', 'square', 'green', 'digital')

In [18]:
class watch():
    def __init__(put, color , shape , lights , brand):
        put.color = color
        put.shape = shape
        put.lights = lights
        put.brand = brand
        put.price = 0
    
    def Showing_Time(put):
        print(f"It is showing time on {put.brand}")
    
    def looking_fine(put):
        print(f"It is looking fine on {put.brand}")

In [19]:
W1 = watch ("silver", "Triangle","yellow","digital")
W2 = watch ("silver", "Triangle","yellow","classic")

In [20]:
W1.price

0

In [21]:
W1.price =100

In [22]:
W1.price

100

In [23]:
W2.price

0

In [24]:
#atributes hide kkardenge price ya kch show nh ho

In [25]:
class watch():
    def __init__(put, color , shape , lights , brand):
        put.color = color
        put.shape = shape
        put.lights = lights
        put.brand = brand
        put.price = 0
    
    def Showing_Time(put):
        print(f"It is showing time on {put.brand}")
    
    def looking_fine(put):
        print(f"It is looking fine on {put.brand}")
    def getPrice(put):
        print(f"{put.brand} price is: {put.price}")
    def setPrice(put , newPrice):
        put.price = newPrice

In [33]:
Watch11 = watch ("Red" , "sqaure" , "blue" , "digital")
Watch22 = watch ("Red" , "sqaure" , "blue" , "classic")

In [34]:
Watch11.price
Watch22.price

0

In [35]:
Watch11.setPrice(100)
Watch22.setPrice(1000)

In [36]:
Watch11.color , Watch11.shape , Watch11.lights , Watch11.brand , Watch11.getPrice()

Watch22.color , Watch22.shape , Watch22.lights , Watch22.brand , Watch22.getPrice()

digital price is: 100
classic price is: 1000

('Red', 'sqaure', 'blue', 'classic', None)

In [38]:
print(Watch11.brand)

print(Watch11.color , Watch11.shape , Watch11.lights)
Watch11.getPrice()


print(Watch22.brand)

print(Watch22.color , Watch22.shape , Watch22.lights)
Watch22.getPrice()

digital
Red sqaure blue
digital price is: 100
classic
Red sqaure blue
classic price is: 1000

# C.W

In [41]:
albums=[]

In [42]:
def make_album(artistName, albumTitle):
    return {"artist":artistName,"album":albumTitle}

In [43]:
albums.append(make_album("ArifLohar","Chimti"))
albums.append(make_album("atifaslam", "yadien"))

In [48]:
albums

[{'artist': 'ArifLohar', 'album': 'Chimti'},
 {'artist': 'atifaslam', 'album': 'yadien'}]

In [49]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [50]:
var = 0
while var < 10:
    print(var)
    var += 1

0
1
2
3
4
5
6
7
8
9

In [1]:
cart = []
flag = True
while flag:
    items = input("Enter your item here: ")
    if items == 'q':
        flag = False
    else:
        cart.append(items)
print(cart)

Enter your item here: mango
Enter your item here: apple
Enter your item here: honey
Enter your item here: q
['mango', 'apple', 'honey']

In [4]:
cart = []
flag = True
while flag:
    items = input("Enter your item here: ")
    if items == 'q':
        flag = False
        break
    cart.append(items)
print(cart)

Enter your item here: mangoo
Enter your item here: aplle
Enter your item here: samsosa
Enter your item here: q
['mangoo', 'aplle', 'samsosa']

In [5]:
class Mobile():
    def __init__(self, color, screen_size, battery_duration, brand):
        self.color = color
        self.screen_size = screen_size
        self.battery_duration = battery_duration
        self.brand = brand
        
    def receive_call(self):
        print(f"Call is Received Now on {self.brand}")
    
    def dial_call(self):
        print(f"Call is Dialed Now on {self.brand}")
    
    def write_message(self):
        print(f"Message has been Written on {self.brand}")
    
    def read_message(self):
        print(f"Message has been Read on {self.brand}") 
    
    def send_message(self):
        print(f"Message is Sent on {self.brand}")
    
    def play_game(self):
        print(f"Game is Launched on {self.brand}")

In [6]:
mobile1 = Mobile("Black", "5 inch", "8 hours", "Nokia")

In [7]:
mobile1.battery_duration

'8 hours'

In [8]:
class Mobile():
    def __init__(self, color, battery_duration, brand):
        self.color = color
        self.battery_duration = battery_duration
        self.brand = brand
        self.price = 0
    def receive_call(self):
        print(f"Call is Received Now on {self.brand}")    
    def dial_call(self):
        print(f"Call is Dialed Now on {self.brand}")    
    def getPrice(self):
        print(f"{self.brand} price is: {self.price}")    
    def setPrice(self, newPrice):
        self.price =newPrice

In [9]:
m1 = Mobile("Silver","2H", "OPPO")
m11 = Mobile("Silver","2H", "VEVO")

In [10]:
m1.price = 100

In [11]:
m1.price

100

In [12]:
m11.price

0

In [13]:
m11.setPrice(1000)
m11.getPrice()

VEVO price is: 1000

In [16]:
m1.getPrice()

OPPO price is: 100

In [20]:
m1.setPrice(5000)
m11.setPrice(100000)

In [21]:
m1.getPrice()
m11.getPrice()

OPPO price is: 5000
VEVO price is: 100000

In [17]:
class Car():
    def __init__(self , company , model , year):
        self.company = company
        self.model = model
        self.year = year
        
    def full_name(self):
        print(f"Your car name is {self.company} {self.model} of {self.year}")

In [18]:
car1 = Car("Suzuki" , "Cultus", "2017")

In [23]:
car1.company

'Suzuki'

In [24]:
car1.model

'Cultus'

In [26]:
car1.full_name()

Your car name is Suzuki Cultus of 2017

In [27]:
car2 = Car("Honda","civic","2018")

In [28]:
car2.company

'Honda'

In [30]:
car2.full_name()

Your car name is Honda civic of 2018